* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
}
header {
  color: white;
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(117, 117, 237);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title > h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin-left: 10px;
}
button {
  border-color: transparent;
  border: none;
  outline: none;
}
.container {
  background-color: lightgray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.user-window {
  width: 350px;
  color: white;
  padding: 15px 20px;
  background-color: rgb(90, 87, 87);
  border-radius: 10px;
  margin-right: 20px;
}
.user-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.user-head > h4 {
  background-color: lightgrey;
  padding: 0 8px;
  border-radius: 50px;
}
.user-list p {
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.chat-window {
  width: 100%;
  border-radius: 10px;

  background-color: rgb(90, 87, 87);
}
.chats {
  height: 65vh;
  padding: 20px;
  overflow-y: auto;
}
.user-join {
  font-size: 0.9rem;
  color: rgb(90, 87, 87);
  background-color: white;
  border-radius: 50px;
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.message {
  color: rgb(90, 87, 87);
  background-color: white;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px 50px 50px 10px;
}

.outgoing {
  margin-left: auto;
  /* color: white; */
  border-color: lightskyblue;
  border-radius: 50px 10px 10px 50px;
  text-align: right;
}
.user-input {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.user-input input {
  background-color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px 0 0 50px;
}
.user-input button {
  font-weight: 600;
  padding: 5px 15px;
  outline: none;
  border: none;
  letter-spacing: 0.5px;
  color: white;
  background-color: rgb(117, 117, 237);
  border-radius: 0 50px 50px 0;
}
/* media  */
@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  header button {
    display: block;
  }
  .container {
    position: relative;
  }
  .user-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: max-content;
    z-index: 11;
    box-shadow: 0 15px 20px -20px black;
    padding-bottom: 0;
    display: none;
  }
  .message {
    max-width: 300px;
  }
}
#hamburger {
  width: 50px;
  background-color: rgb(117, 117, 237);
  cursor: pointer;
}
